.course-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(var(--bg-hex), 0.93);
  box-shadow: 0 3px 3px 0 rgba(var(--bg-hex), 0.5),
    0 0 3px 0 rgba(var(--bg-hex), 0.5);
  h4,
  p {
    color: var(--text-color);
  }
  .makeStyles-root-1 {
    background-color: rgba(var(--bg-hex), 0.93) !important;
  }
  .MuiPaper-elevation4 {
    box-shadow: none;
  }
  .MuiBox-root {
    color: var(--text-color);
    height: 500px;
  }
  .MuiAppBar-colorPrimary {
    background-color: rgba(var(--bg-hex), 0.93);
    color: var(--text-color);
    button:focus {
      outline: none;
    }
  }
  .MuiCardActions-root {
    outline: none;
  }
  button {
    outline: none;
  }
  .add-cart-button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background-color: var(--color-headings);
    text-align: center;
    color: white;
    outline: none;
    border: none;
  }
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin: 10px 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--bg-sub);
    color: var(--text-color);
  }

  /* Style the back side */
  .flip-card-back {
    background-color: var(--bg-sub);
    color: var(--text-color);
    overflow: auto;
    transform: rotateY(180deg);
  }
}
